<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2 style="font-style: italic; font-family: 'Microsoft Sans Serif', Tahoma, Arial, Verdana, Sans-Serif">

                upload file test</h2>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% block content %}{% endblock %}
    </div>
    <div class="col-md-3"></div>
</div>
