{% extends 'base.html' %}
{% block title %}
    收藏单词
{% endblock %}
{% block js_and_css_loader %}
    <script src="/static/js/moment.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/static/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
{% endblock %}

{% block content %}
    <script>
        function enshrine(data) {
            $.ajax({
                url: "/enshrine_word/",
                data: {'id': data.id},
                success: function (data) {
                    {#alert(data["info"]);#}
                    if (data["info"] === "success") {
                        {#alert(data["info"]);#}
                    } else if (data["info"] === "fail") {
                        alert("what are u doing")
                    }
                }
            })
        }

        function horn(data) {
            console.log("this function is not finished")
        }
    </script>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="word_output_form">
                        {% csrf_token %}
                        {% for filed in form %}
                            <div class="form-group">
                                <label>{{ filed.label }}</label>
                                {{ filed }}
                            </div>
                            <p class="text-danger">{{ filed.errors.as_text }}</p>
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary odom-submit">Send message</button>
                </div>
                <script>
                    $(function () {
                        $('body').on('click', '.odom-submit', function (e) {
                            $('#word_output_form').submit();
                            {#$('#exampleModal').modal('hide');#}
                        });
                    });
                </script>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                language: 'en',
                pick12HourFormat: true
            });
        });
    </script>
    {#    <audio controls>#}
    {#        <source id="source" src="" type="audio/mpeg">#}
    {#        Your browser does not support the audio element.#}
    {#    </audio>#}
    <div id="container-fluid">
        <div class="row">
            <div class="col-2">
                <span class="float-left">&nbsp;</span>
            </div>
            <div class="col-8 text-center">
                &nbsp;
            </div>
            <div class="col-2">
                <button class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">删选单词
                </button>
            </div>
        </div>
    </div>
    <br>


    <table class="table">
        <thead>
        <tr>
            <th>中文</th>
            <th>英文</th>
            <th>收藏次数</th>
            <th>添加时间</th>
        </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td>
                    <button type="button" class="btn btn-outline-info  text-dark" data-toggle="popover"
                            data-trigger="focus"
                            title=""
                            data-content="{{ word.comment }}"
                            data-original-title="备注">{{ word.cn }}
                    </button>
                    <script>
                        $(document).ready(function () {
                            $('[data-toggle="popover"]').popover();
                        }); </script>
                </td>

                <td>
                    <button type="button" class="btn btn-outline-light text-dark active">{{ word.en }}</button>
                </td>
                <td><a id="enshrine_time_{{ word.id }}">{{ word.enshrine_time }}</a>
                    <button id="{{ word.id }}" class="icon-star"
                            style="color: darkorange;border: none;background-color: white;"
                            onclick="enshrine(this)"></button>
                </td>
                <td>
                    {{ word.add_time }}
                </td>
                {#                <td>{{ word.recite_count }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
