{% extends 'base.html' %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% block title %} Home {% endblock %}
{% block content %}
    {#    <form action="{% url 'home' %}" method="post">#}
    {#        {% csrf_token %}#}
    {#        <input type="text" placeholder="文件名称，时间" name="condition">#}
    {#        <button type="submit" class=""> 查找</button>#}
    {#    </form>#}
    {#    <hr/>#}
    <br><br>
    {% if request.user.is_authenticated %}
        <div class="jumbotron jumbotron-fluid" id="Bootstrap Jumbotron" style="background-color: #e3f2fd;">
            <h1 align="center"> {{ request.user }} 今天背单词了嚒</h1>
            {% if beilema %}
                <h2 align="center">背啦！</h2>
            {% else %}
                <h2 align="center">没有！</h2>
            {% endif %}
        </div>
    {% else %}
        <div class="jumbotron jumbotron-fluid" id="Bootstrap Jumbotron" style="background-color: #e3f2fd;">
            <h1 align="center"> 你今天背单词了嚒</h1>
            <h2 align="center"> 想要使用功能 可以登陆或者注册</h2>
        </div>
    {% endif %}
{% endblock %}
