{% extends 'base.html' %}

{% block title %} view-excel {% endblock %}
{% block content %}



    <table class="table">
        <thead>
        <tr>
            <th>中文</th>
            <th>英文</th>
            <th>背诵时间</th>
        </tr>
        </thead>
        <tbody>
        {% for word in words %}
            <tr>
                <td>
                    <button type="button" class="btn btn-outline-info  text-dark" data-toggle="popover" data-trigger="focus"
                            title=""
                            data-content="{{ word.comment }}"
                            data-original-title="备注">{{ word.cn }}
                    </button>
                    <script>
                        $(document).ready(function () {
                            $('[data-toggle="popover"]').popover();
                        }); </script>
                </td>

                <td>
                    <button type="button" class="btn btn-outline-light text-dark active">{{ word.en }}</button>
                </td>
                <td>{{ word.recite_time|date:'Y-m-d G:i:s' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}