{% load static %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>
<body>
<script
        src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{#<div class="jumbotron jumbotron-fluid" id="Bootstrap Jumbotron">#}
{#    <h1 align="center"> 烧包背单词</h1>#}
{#    <p align="center">大梦将荒，有客惶惶，局就盈樽，侃谈千魂</p>#}
{#</div>#}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Navbar content -->
        <a class="navbar-brand" href="#">
            <img src="/static/img/letter-h.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- thanks to https://www.flaticon.com/packs/phonics-3 -->
            Happy English Learning
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <a class="nav-item nav-link active" href="#">{{ request.user }} </a>
                    {% else %}
                        <a class="nav-item nav-link active" href="#">Hello 请先登陆 </a>
                    {% endif %}
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a></li>
                        <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                    </li>
            </ul>
        </div>
    </nav>
</div>


{#                {% if request.user.is_anthenticate %}#}
{##}
{#                {% else %}#}
{##}
{#                {% endif %}#}


<div class="container">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'import' %}">Import Words</a></li>
        <li class="breadcrumb-item"><a href="{% url 'management' %}">Management</a></li>
        {#        <li class="breadcrumb-item"><a href="/admin">admin site</a></li>#}
    </ul>
    {#    <nav class="nav nav-pills nav-stacked justify-content-center">#}
    {#        <a class="nav-link" href={% url 'home' %}>index</a>#}
    {#        <a class="nav-link" href={% url 'import' %}>words import</a>#}
    {#        <a class="nav-link" href={% url 'output' %}>words output</a>#}
    {#        <a class="nav-link" href={% url 'management' %}>words management</a>#}
    {#    </nav>#}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>
